.form-steps {
  width: 570px;
  padding: 0px;
  list-style: none;
  margin: 20px auto 0px auto;
  height: 68px;

  li {
    display: inline-block;
    margin: 0px;
    float: left;

    button {
      display: block;
      width: 190px;
      height: 68px;
      background: #ddd;
      position: relative;
      border: none;
      text-align: left;
      font-size: 16px;
      outline: none;

      .no {
        position: absolute;
        top: 11px;
        left: 18px;
        display: inline-block;
        height: 46px;
        width: 46px;
        background: #aaa;
        color: #444;
        border-radius: 46px;
        text-align: center;
        line-height: 46px;
        font-size: 18px;
      }

      .text {
        display: inline-block;
        position: absolute;
        top: 18px;
        left: 78px;
        color: #666;
      }

      &.active {
        background: #fff;

        .no {
          background: #3F2850;
          color: #fff;
        }

        .text {
          color: #444;
        }
      }

      &:disabled {
        .no {
          background: #d0d0d0;
          color: #bbb;
        }

        .text {
          color: #bbb;
        }
      }
    }
  }
}

.registration-form {
  width: 570px;
  background: #fff;
  margin: 0px auto;

  .input-group {
    padding: 16px 60px 16px 60px;

    &:first-child {
      padding-top: 46px;
    }

    label {
      display: block;
      color: #444;
    }

    input,
    select {
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
      border: 0px;
      background: #ddd;
    }

    input {
      width: calc(100% - 40px);
    }

    select {
      width: 100%;
    }

    .validation-alert {
      float: left;
      color: #f00;
    }
  }

  .next-step {
    padding: 16px 60px 36px 60px;
    text-align: right;

    button {
      border: none;
      width: 120px;
      height: 40px;
      background: #3f2850;
      color: #fff;

      &:hover {
        background: #5B3B73;
      }

      &:disabled {
        background: #aaa;
      }
    }
  }
}

.thanks {
  width: 570px;
  background: #fff;
  margin: 20px auto;
  
  .text {
    padding: 30px 60px 30px 60px;
    text-align: center;
    h1 {
      margin-top: 0px;
    }
  }
}

@media(max-width:767px) {
  .form-steps {
    width: 100%;
  li {
      width: calc(100% / 3);

      button {
        width: 100%;

        .text {
          display: none;
        }
      }
    }
  }

  .registration-form {
    width: 100%;

    .input-group {
      padding: 12px 6px 12px 6px;

      &:first-child {
        padding-top: 26px;
      }
    }

    .next-step {
      padding: 12px 6px 6px 6px;
    }
  }

  .thanks {
    width: 100%;
    
    .text {
      padding: 30px 16px 30px 16px;
    }
  }
}
