// bower:scss
// endbower

html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  background: #cccccc;
}

h1 {
	font-family: 'Abel', sans-serif;
}

@import '_form-styles.scss';
@import '_form-animation.scss';
@import '_form-validation.scss';

@import '_navigation.scss';
@import '_table-styles.scss';


.content {
	padding-top: 60px;
}

.container {
	width: 960px;
	margin: 0px auto;
}


/* Responsive */
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}