// bower:scss
// endbower

@import '_form-animation.scss';
@import '_form-validation.scss';

html, body {
  padding: 0px;
  margin: 0px;
  background: #eee;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}
