<h1>Payment</h1>

<div>
  <label>Credit card number</label>
  <input type="text" name="cardNumber" 
      ng-model="formData.number" 
      ng-model-options="{ updateOn: 'blur' }" 
      required>
  <div ng-show="form.$submitted || form.cardNumber.$touched">
    <div ng-show="form.cardNumber.$error.required">Required.</div>
  </div>
</div>
<div>
  <label>Expiration date</label>
  <input type="text" name="cardExpiration" 
      ng-model="formData.expiration" 
      ng-model-options="{ updateOn: 'blur' }" 
      required>
  <div ng-show="form.$submitted || form.cardExpiration.$touched">
    <div ng-show="form.cardExpiration.$error.required">Required.</div>
  </div>
</div>

<div>
  <button type="submit">Submit</button>
</div>
