<ul class="form-steps">
  <li>
    <button ui-sref-active="active" ui-sref=".personal">
      <span class="no">1</span> 
      <span class="text">Personal information</span>
    </button>
  </li>
  <li>
    <button ui-sref-active="active" ui-sref=".car" ng-disabled="checkValidity('car')">
      <span class="no">2</span> 
      <span class="text">Vehicle information</span>
    </button>
  </li>
  <li>
    <button ui-sref-active="active" ui-sref=".payment" ng-disabled="checkValidity('payment')">
      <span class="no">3</span> 
      <span class="text">Payment information</span>
    </button>
  </li>
</ul>

<form name="form" class="registration-form" novalidate>
  <div ui-view></div>
</form>
